# Visual Studio build output
src/**/bin/**
src/**/obj/**
test/**/bin/**
test/**/obj/**

# MSTest test Results
TestResults/

# User-specific files 
*.suo
*.user

# NuGet packages
packages/

# Visual Studio 2015 cache/options directory 
.vs/

# Expanded/resolved project.json files
project.lock.json

# Build outputs
build/target/

# Benchmark results
BenchmarkDotNet.Artifacts/
