* text=auto

*.cs text
*.xaml text
*.sln eol=crlf
*.csproj eol=crlf
*.shproj eol=crlf
*.appxmanifest eol=crlf

*.png binary
*.jpg binary
*.dll binary
*.pdb binary
*.exe binary
*.nupkg binary
*.pdf binary
*.snk binary

# Ensure key files have LF endings for easier usage with ssh-keygen
# Also, the dockerfile used for integration tests fails if key files have cr-lf
test/Data/* eol=lf
test/Renci.SshNet.IntegrationTests/server/**/* eol=lf
test/Renci.SshNet.IntegrationTests/user/* eol=lf
