# Visual Studio build output
src/**/bin/**
src/**/obj/**

# MSTest test Results
src/TestResults/

# User-specific files 
*.suo
*.user

# NuGet packages
packages/

# Visual Studio 2015 cache/options directory 
src/.vs/

