* text=auto

*.cs text
*.xaml text
*.sln eol=crlf
*.csproj eol=crlf
*.shproj eol=crlf
*.appxmanifest eol=crlf

*.png binary
*.jpg binary
*.dll binary
*.pdb binary
*.exe binary
*.nupkg binary
*.pdf binary
*.snk binary
