image:
  - Ubuntu2204
  - Visual Studio 2022

services:
  - docker

for:
-
  matrix:
    only:
      - image: Ubuntu2204

  install:
    - sudo apt-get update && sudo apt-get install -y dotnet-sdk-8.0=8.0.100-1
    
#  before_build:
#    - sh: mkdir artifacts -p
          
  build_script:
    - echo build
    - dotnet build Renci.SshNet.sln -c Debug -f net8.0 /p:ContinuousIntegrationBuild=true;EmbedUntrackedSources=true

  test_script:
    - echo "Run unit tests"
    - dotnet test -f net8.0 -c Debug --no-build --logger Appveyor --logger "console;verbosity=normal" --collect "XPlat Code Coverage" /p:UseSourceLink=true  test/Renci.SshNet.Tests/Renci.SshNet.Tests.csproj
    - echo "Run integration tests"
    - dotnet test -c Debug --no-build --logger Appveyor --logger "console;verbosity=normal" --collect "XPlat Code Coverage" /p:UseSourceLink=true test/Renci.SshNet.IntegrationTests/Renci.SshNet.IntegrationTests.csproj

  after_test:
    - curl -Os https://uploader.codecov.io/latest/linux/codecov
    - sudo chmod +x codecov
    - ./codecov -f *.coverage.*.xml

#  on_failure:
#    - sh: appveyor PushArtifact artifacts/tcpdump.pcap

-
  matrix:
    only:
      - image: Visual Studio 2022

  install:
    - choco install dotnet-8.0-sdk --version=8.0.100

#  before_build:
#    - ps: mkdir artifacts -f

  build_script:
    - echo build
    - dotnet build Renci.SshNet.sln -c Debug

  test_script:
    - echo "Run unit tests for .NET 8.0"
    - dotnet test -f net8.0 -c Debug --no-build --logger Appveyor --logger "console;verbosity=normal" --collect "XPlat Code Coverage" /p:UseSourceLink=true test/Renci.SshNet.Tests/Renci.SshNet.Tests.csproj
    - echo "Run unit tests for .NET Framework 4.6.2"
    - dotnet test -f net462 -c Debug --no-build --logger Appveyor --logger "console;verbosity=normal" --collect "XPlat Code Coverage" /p:UseSourceLink=true test/Renci.SshNet.Tests/Renci.SshNet.Tests.csproj

  after_test:
    - ps: |
        $ProgressPreference = 'SilentlyContinue'
        Invoke-WebRequest -Uri https://uploader.codecov.io/latest/windows/codecov.exe -Outfile codecov.exe
        .\codecov.exe -f *.coverage.*.xml

#  on_failure:
#    - ps: Push-AppveyorArtifact artifacts/tcpdump.pcap

#  artifacts:
#    - path: artifacts
#      name: artifacts
