<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="andrewarnott" value="https://pkgs.dev.azure.com/andrewarnott/OSS/_packaging/PublicCI/nuget/v3/index.json" />
  </packageSources>

    <!-- Define mappings by adding package patterns beneath the target source. -->
    <!-- Nerdbank.GitVersioning will be restored from its CI feed, everything else from nuget.org. -->
    <packageSourceMapping>
        <!-- key value for <packageSource> should match key values from <packageSources> element -->
        <packageSource key="nuget">
            <package pattern="*" />
        </packageSource>
        <packageSource key="andrewarnott">
            <package pattern="Nerdbank.GitVersioning" />
        </packageSource>
    </packageSourceMapping>
</configuration>
