[*.cs]

generated_code = true

# S4136: Method overloads should be grouped together
# https://rules.sonarsource.com/csharp/RSPEC-4136
#dotnet_diagnostic.S4136.severity = none

# CA5394: Do not use insecure randomness
# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca5394
dotnet_diagnostic.CA5394.severity = none

# IDE0005: Remove unnecessary using directives
# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0005
dotnet_diagnostic.IDE0005.severity = none

# Do not reported any diagnostics for "imported" code
dotnet_analyzer_diagnostic.severity = none
