<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="SshNet.Logging" switchName="SshNetSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <!--<add name="SshDotNetTraceFile" />-->
          <!--<add name="Console"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="SshNetSwitch" value="Verbose"/>
    </switches>
    <sharedListeners>
      <add name="SshDotNetTraceFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="SshNetTrace.log">
        <!--<filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning" />-->
      </add>
      <add name="Console" type="System.Diagnostics.ConsoleTraceListener" traceOutputOptions="DateTime,Timestamp,ThreadId"/>
    </sharedListeners>
  </system.diagnostics>
</configuration>
